<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mouse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,68},{86,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,64}}</string>
                <key>sourceSize</key>
                <string>{86,64}</string>
            </dict>
            <key>mouse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{86,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,64}}</string>
                <key>sourceSize</key>
                <string>{86,64}</string>
            </dict>
            <key>mouse3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{86,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,64}}</string>
                <key>sourceSize</key>
                <string>{86,64}</string>
            </dict>
            <key>mouse4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{86,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,64}}</string>
                <key>sourceSize</key>
                <string>{86,64}</string>
            </dict>
            <key>mouse5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,64}}</string>
                <key>sourceSize</key>
                <string>{86,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AminMouse-ipad.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87b913f5583c169763a74e19d4abe9bb$</string>
            <key>textureFileName</key>
            <string>AminMouse-ipad.png</string>
        </dict>
    </dict>
</plist>
