<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3844,2},{60,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,37}}</string>
                <key>sourceSize</key>
                <string>{60,37}</string>
            </dict>
            <key>cirrus1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2021},{1782,1185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1782,1185}}</string>
                <key>sourceSize</key>
                <string>{1782,1185}</string>
            </dict>
            <key>cirrus2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,1189},{1782,1185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1782,1185}}</string>
                <key>sourceSize</key>
                <string>{1782,1185}</string>
            </dict>
            <key>cirrus3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{1782,1185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1782,1185}}</string>
                <key>sourceSize</key>
                <string>{1782,1185}</string>
            </dict>
            <key>cirrus4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,2},{1782,1185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1782,1185}}</string>
                <key>sourceSize</key>
                <string>{1782,1185}</string>
            </dict>
            <key>dandelion.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1786,830}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1786,830}}</string>
                <key>sourceSize</key>
                <string>{1786,830}</string>
            </dict>
            <key>dragonbody.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,6176},{1082,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1082,650}}</string>
                <key>sourceSize</key>
                <string>{1082,650}</string>
            </dict>
            <key>dragonhead.png</key>
            <dict>
                <key>frame</key>
                <string>{{2368,5666},{1082,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1082,650}}</string>
                <key>sourceSize</key>
                <string>{1082,650}</string>
            </dict>
            <key>dragonhead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6254},{1082,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1082,650}}</string>
                <key>sourceSize</key>
                <string>{1082,650}</string>
            </dict>
            <key>leftwing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,5602},{1082,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1082,650}}</string>
                <key>sourceSize</key>
                <string>{1082,650}</string>
            </dict>
            <key>mouse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2282,6318},{1070,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1070,800}}</string>
                <key>sourceSize</key>
                <string>{1070,800}</string>
            </dict>
            <key>playButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4094},{1280,752}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,752}}</string>
                <key>sourceSize</key>
                <string>{1280,752}</string>
            </dict>
            <key>playButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4848},{1280,752}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,752}}</string>
                <key>sourceSize</key>
                <string>{1280,752}</string>
            </dict>
            <key>playButton2down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,4770},{1280,752}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,752}}</string>
                <key>sourceSize</key>
                <string>{1280,752}</string>
            </dict>
            <key>playButtonDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,4016},{1280,752}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,752}}</string>
                <key>sourceSize</key>
                <string>{1280,752}</string>
            </dict>
            <key>playButtonUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,3262},{1280,752}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,752}}</string>
                <key>sourceSize</key>
                <string>{1280,752}</string>
            </dict>
            <key>rabbit.png</key>
            <dict>
                <key>frame</key>
                <string>{{3574,2},{268,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,376}}</string>
                <key>sourceSize</key>
                <string>{268,376}</string>
            </dict>
            <key>rightwing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,5524},{1082,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1082,650}}</string>
                <key>sourceSize</key>
                <string>{1082,650}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,2376},{1749,884}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1749,884}}</string>
                <key>sourceSize</key>
                <string>{1749,884}</string>
            </dict>
            <key>title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3208},{1749,884}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1749,884}}</string>
                <key>sourceSize</key>
                <string>{1749,884}</string>
            </dict>
            <key>tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,6828},{758,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,1200}}</string>
                <key>sourceSize</key>
                <string>{758,1200}</string>
            </dict>
            <key>tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3035,4464},{758,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,1200}}</string>
                <key>sourceSize</key>
                <string>{758,1200}</string>
            </dict>
            <key>tree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3035,3262},{758,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,1200}}</string>
                <key>sourceSize</key>
                <string>{758,1200}</string>
            </dict>
            <key>treeB1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,6906},{758,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,1200}}</string>
                <key>sourceSize</key>
                <string>{758,1200}</string>
            </dict>
            <key>treeB2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6906},{758,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,1200}}</string>
                <key>sourceSize</key>
                <string>{758,1200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{4096,8192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ea17a89ec334e817b71b2603be4d845$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
